
.mainHeader{
    background-color: greenyellow;
    padding: 1px;
    text-align: center;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeLink{
    color: black;
}

.headding{
    margin-right: 100px;
}